
:root {
	/*Colors*/
  --white: #FFFFFF;
  --black: #000000;
  --other1: #E38646;
  --other2: #F7F7F7;
  --main-color: #C7C7C7;
  --secondary-color:#F7F7F7;
  --navbar-color:#E38646;
  --text-input-field: #ACD9B2;
  --color-of-links: #B2F7C5;
  	/*color: #707070;  COLOR GRIS SOLIDO, bonito para H2 y links*/
	/*texts:*/
	/*font-size*/
  --textSm: 1.4rem; 
  --textMd: 1.6rem;
  --textLg: 1.8rem;
  --rem: 1rem;
  	/*ver clases mas abajo*/

	/*alturas*/
	--h-nav-bar: 5.0rem;
	--h-hero: 25.0rem;
	--h-cart: 15.0rem;
	--h-contFooter: 5.0rem;

	--padding04 : 0.4rem;
	/*ver clases mas abajo*/

  	/*font-family*/
  --fontMain: sans-serif;
  --fontSecondary: sans-serif;
  --fontHeading: sans-serif;

  /*tamaño imagenes - width*/
  --contImgPostSm: 15rem;
  --contImgPostMd: 25rem;
  --contImgPostLg: 35rem;

  --contImgcardSm: 10rem;
  --contImgcardMd: 15rem;
  --contImgcardLg: 20rem;

  --contImgLogoMain: 20rem;
  --contImgLogoSm: 0.25rem;
  --contImgLogoMd: 0.5rem;

  /*tamaño imagenes - height*/
}

*{ margin: 0; box-sizing: border-box;};
html {  overflow-x: hidden; width: 100vw; padding: 0; line-height: 1.15;} /*puede llegar a ser necesario*/
html {  font-family: sans-serif; font-size: 62.5%; }  /* Now 10px = 1rem! */ /*dar font-family acá si se trae de googleFont etc*/
body {font-size: 16px; font-size: 1.6rem; line-height: 1.5; margin: 0}
		/*fuente: https://gist.github.com/mrwweb/5627502; */ /*si no soporta rem soportara px*/
main {  display: block;}

/*heading*/
h1,h2,h3,h4,h5,h6{
		margin-top: 0;
		font-family: var(--fontHeading);
		line-height: 1.5;
	} 
p{font-weight: 300; margin: 0} /*es recomendable guardar los valores en variables root*/
h1{font-size: 6rem; font-weight: 700; margin-top: 0px; letter-spacing: 1px; text-align: center;}  
h2{font-size: 4.8rem}
h3{font-size: 3.6rem}
h4{font-size: 2.4rem}

a{text-decoration: none; display: inline-block; /*overflow: hidden*/}
ul{list-style: none; margin: 0; padding: 0;}
[type="submit"]{border:none; border-radius: 25%; font-size: 1.6rem; padding: 0.5rem; cursor: pointer; width: 100%; height: 6rem}
span{display: inline-block;}  /*verificar su buen comportamiento*/

picture {margin:0; overflow: hidden; width: var(--contImgPostMd)} /*imagenes post*/
figure {margin:0; overflow: hidden; width: var(--contImgcardMd); /*height:var(--contImgcardMd);*/}
img{max-width: 100%; height: auto; object-fit: contain; vertical-align: top; object-position: 1px 1px;} /*100% de un contenedor ; object-fit: cover*/

.figImg{display: block; width: auto; margin: 0; padding: 0; object-fit: cover; }
.contCentrado {max-width: 120.0rem; width: 95%; margin: 0 auto} /* BEM-layout*/

header{ margin: 0 auto; padding: 0; /*width: 95%*; max-width: 1200px; padding: 1rem*/}
main{max-width: 120.0rem; width: 100%; margin: 0 auto;} /*en pantalla <1200px toma el 95%*/
footer{margin: 0 auto; padding: 0;/*width: 95%*; max-width: 1200px; padding: 1rem*/}

.bodyTag{
	background: #a4b0be;
}
.padding4{
	padding: var(--padding04)
}

.bold{font-weight: bold;}
.textC{text-align:center}
.textL{text-align:left;}
.textSm{font-size: var(--textSm);}
.textMd{font-size: var(--textMd)}
.textLg{font-size: var(--textLg)}

.fontMain{font-style: var(--fontMain)}
.fontSecondary{font-style: var(--fontSecondary)}
.fontHeading{font-style: var(--fontHeading)}


	/*//Body/////////////////////////////////////////////////////////*/
	  .contBody{}
	/*//Header/////////////////////////////////////////////////////////*/
	  .contHeader{min-width: 78rem;}
	  .contLogo{}
	/*//flexMainAside/////////////////////////////////////////////////////////*/
	  .contMainAside{display: flex; margin: 0; min-width: 78rem;}
	/*//Main///////////////////////////////////////////////////////////*/
	  .contMain{ margin: 0; }
	/*//Aside//////////////////////////////////////////////////////////*/
	  .contAside{ margin: 0; }
	/*//Footer/////////////////////////////////////////////////////////*/
	  .contFooter{ margin: 0; min-width: 78rem;}