---
// import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
	// import Nav from '../components/Nav.astro';
	// import Hero from '../components/Hero.astro';
import Main from '../components/Main.astro';
	// componentes de MAIN
// import Footer from '../components/Footer.astro';


---

<Layout>
	<Header>
		<!-- <Nav slot="nav" /> -->
		<!-- <Hero slot="hero" />  --> 
	</Header>
	<Main>
	</Main>
	<!-- <Footer/>  -->
	<!-- <Welcome /> -->
</Layout>
