/*///////mynormalize_ar.css///////  V 1.0.7 */  /*Ver Repositorio... para normalize mas actulizado*/

:root {
	/*font-family*/ 
	--fontMain:   'Roboto', 'Segoe UI', sans-serif, Tahoma, Verdana;
	--fontSecondary: 'Roboto', 'Segoe UI', sans-serif, Tahoma, Verdana;

	/*font-size*/
	--textSm: 1.4rem;
	--textNormal:  1.6rem;
	--textMd: 1.8rem;
	--textLg: 2.4rem;
	--textExtaLg: 2.8rem;
	--rem: 1rem;

	/*OtherColors*/
	/* 
	--other1: #E38646;
	--other2: #F7F7F7;
	--color-of-links: #B2F7C5;
	--aside-color: rgb(31, 31, 31);
	--bg-light: #f8f9fa;
	--border-color: #e0e0e0;
	*/

	/*alturas*/
	--h-nav-bar: 5.0rem; /*nav*/
	--h-hero: 25.0rem;
	--h-cart: 15.0rem;
	--h-contFooter: 5.0rem;

	/* --padding04 : 0.4rem; */
	/*ver clases mas abajo*/

	/*tamaño imagenes - width*/
	--contImgPostSm: 15rem;
	--contImgPostMd: 25rem;
	--contImgPostLg: 35rem;

	--contImgcardSm: 10rem;
	--contImgcardMd: 15rem;
	--contImgcardLg: 20rem;

	--contImgLogoMain: 20rem;
	--contImgLogoSm: 0.25rem;
	--contImgLogoMd: 0.5rem;
}
/* MovilFirst */
	/*body {overflow: hidden}*/


/* GENERICOS */
*{ margin: 0; box-sizing: border-box;};
html {  overflow-x: hidden; width: 100vw; padding: 0; line-height: 1.15;} /*puede llegar a ser necesario*/
html {  font-family: sans-serif; font-size: 62.5%; }  /* Now 10px = 1rem! */ /*dar font-family acá si se trae de googleFont etc*/
body {font-size: 16px; font-size: var(--textNormal); line-height: 1.5; margin: 0}
		/*fuente: https://gist.github.com/mrwweb/5627502; */ /*si no soporta rem soportara px*/
main {  display: block;}
header{ margin: 0 auto; padding: 0;}
/*heading*/
h1,h2,h3,h4,h5,h6{
		margin-top: 0;
		font-family: var(--fontMain);
		line-height: 1.5;
		padding-top: 5px;
	} 
p{font-weight: 300; margin: 0} /*es recomendable guardar los valores en variables root*/
h1{font-size: var(--textExtaLg); font-weight: 700; margin-top: 0px; letter-spacing: 1px;}
/*h1{text-align: center;}  */
h2{font-size: var(--textLg); /*font-weight: 700;*/}
h3{font-size: var(--textMd)}
h4{font-size: var(--textNormal)}
h5{font-size: var(--textSm)}

a{text-decoration: none; display: inline-block; /*overflow: hidden*/}
ul{list-style: none; margin: 0; padding: 0;}
[type="submit"]{border:none; border-radius: 25%; font-size: 1.6rem; padding: 0.5rem; cursor: pointer; width: 100%; height: 6rem}
span{display: inline-block;}  /*verificar su buen comportamiento*/

picture {margin:0; overflow: hidden; width: var(--contImgPostMd)} /*imagenes post*/
figure {margin:0; overflow: hidden; width: var(--contImgcardMd); /*height:var(--contImgcardMd);*/}
img{max-width: 100%; height: auto; object-fit: contain; vertical-align: top; object-position: 1px 1px;} /*100% de un contenedor ; object-fit: cover*/ /*img algunos manipulan el with, otros el height para cuadrarla*/

.figImg{display: block; width: auto; margin: 0; padding: 0; object-fit: cover; }

header{max-width: 140.0rem}
main{max-width: 140.0rem; width: 100%; margin: 0 auto;} /*en pantalla <1200px toma el 95%*/
footer{margin: 0 auto; padding: 0;/*width: 95%*; max-width: 1200px; padding: 1rem*/}


/*UTILIDADES GENERICAS*/
.m-0{margin: 0;}
.bold{font-weight: bold;}
.textC{text-align:center}
.textL{text-align:left;}
.sm{font-size: var(--textSm);}
.normal{font-size: var(--textNormal);}
.md{font-size: var(--textMd)}
.lg{font-size: var(--textLg)}
.extlg{font-size: var(--textExtaLg)}


.fontMain{font-style: var(--fontMain)}
.fontSecondary{font-style: var(--fontSecondary)}


	/*//Body/////////////////////////////////////////////////////////*/
	  .contBody{}
	  .contCentrado {max-width: 120.0rem; width: 95%; margin: 0 auto} /* BEM-layout*/
	/*//Header/////////////////////////////////////////////////////////*/
	  .contHeader{ /*min-width: var(--wrapContainer);*/}
	  .contLogo{}
	/*//navbar/////////////////////////////////////////////////////////*/
		.navbar{position: sticky;}
		.navbar ul {display: flex; justify-content: left; align-items: center; gap: 1rem; /*opcional*/ }
		.navbar a{display: block; width: 100%; padding: 0.75rem 1rem}

	/*//flexMainAside/////////////////////////////////////////////////////////*/
	  .contMainAside{display: flex; margin: 0; /*min-width: var(--wrapContainer);*/}
	  /* ||.contMainAside ||.coverMainAside || .cover*/
	/*//Main///////////////////////////////////////////////////////////*/
	  .contMain{ margin: 0; }
	  /*main>section>article*/
	/*//Aside//////////////////////////////////////////////////////////*/
	  .contAside{ margin: 0; }
	/*//Footer/////////////////////////////////////////////////////////*/
	  .contFooter{ margin: 0; /*min-width: var(--wrapContainer);*/}
	
	/*///////////////////////// IMAGE HERO (OPCIONAL) //////////////////////////////////*/
	/*//LayHeroImage/////////////////////////////////////////////////////////*/
/*	.LayHeroImage{
		height: 55vh;
		width: 100%;
		display:flex;
		align-items: flex-end; 
		position: relative;
		overflow: hidden;
	 }*/
 	/*//heroImage/////////////////////////////////////////////////////////*/
/*  .LayHeroImage::before{
  	content: "";
		background: url("https://picsum.photos/id/674/600/400");
		background-position: 0px -250px;
		background-size: cover;
		background-repeat: no-repeat;
		position: absolute;	
		inset: 0;
	  filter: brightness(0.4);
	  z-index: -1;
	}*/
	/*//heroImage/////////////////////////////////////////////////////////*/
/*	.herodiv__tex{
		position: absolute;
		left: 20px;
		bottom: 50px;
		color:white; 
		text-shadow: 2px -2px 0px #2d3436;
	}*/
	/*////////////////////////////////////////////////////////////////////////////////////*/




