/*///////mynormalize_ar.css///////  V 1.0.1 */ /*Ver COMPENDIO_CSS...*/
vertical-align
:root {
	/*Colors*/
  --white: #FFFFFF;
  --black: #000000;
  --other1: #E38646;
  --other2: #F7F7F7;
  --main-color: #C7C7C7;
  --secondary-color:#F7F7F7;
  --navbar-color:#E38646;
  --text-input-field: #ACD9B2;
  --color-of-links: #B2F7C5;
  	/*color: #707070;  COLOR GRIS SOLIDO, bonito para H2 y links*/
	/*texts:*/
	/*font-size*/
  --textSm: 1.4rem; 
  --textMd: 1.6rem;
  --textLg: 1.8rem;
  --rem: 1rem;
  	/*ver clases mas abajo*/

	/*alturas*/
	--h-nav-bar: 5.0rem;
	--h-hero: 25.0rem;
	--h-cart: 15.0rem;
	--h-contFooter: 5.0rem;

	--padding04 : 0.4rem;
	/*ver clases mas abajo*/

  	/*font-family*/
  --fontMain: sans-serif;
  --fontSecondary: sans-serif;
  --fontHeading: sans-serif;

  /*tamaño imagenes - width*/
  --contImgPostSm: 15rem;
  --contImgPostMd: 25rem;
  --contImgPostLg: 35rem;

  --contImgcardSm: 10rem;
  --contImgcardMd: 15rem;
  --contImgcardLg: 20rem;

  --contImgLogoMain: 20rem;
  --contImgLogoSm: 0.25rem;
  --contImgLogoMd: 0.5rem;

  /*tamaño imagenes - height*/

  /* min-width para el margen de los contenedores: ;*/
  --wrapContainer: 78rem;

}

/* MovilFirst */
	/*body {overflow: hidden}*/

/* GENERICOS */
*{ margin: 0; box-sizing: border-box;};
html {  overflow-x: hidden; width: 100vw; padding: 0; line-height: 1.15;} /*puede llegar a ser necesario*/
html {  font-family: system-ui, Arial, Helvetica, sans-serif; font-size: 62.5%; }  /* Now 10px = 1rem! */ /*dar font-family acá si se trae de googleFont etc*/
body {font-size: 16px; font-size: 1.6rem; line-height: 1.5; font-weight: 400; margin: 0}
body {display: flex; flex-direction: column; align-items: center; min-width: 320px; min-height: 100vh; text-align: center;} /*opcional*/
/*body{ font-family: Courier,Times,Cochin;} */ /*opcional para pruebas*/ 


		/*fuente: https://gist.github.com/mrwweb/5627502; */ /*si no soporta rem soportara px*/
main {  display: block;}

/*heading*/
h1,h2,h3,h4,h5,h6{
		margin-top: 0;
		font-family: var(--fontHeading);
		line-height: 1.5;
	} 
p{font-weight: 300; margin: 0} /*es recomendable guardar los valores en variables root*/
h1{font-size: 5.3rem; font-weight: 700; margin-top: 0px; letter-spacing: 1px; text-align: center;}  
h2{font-size: 4.8rem}
h3{font-size: 3.6rem}
h4{font-size: 2.4rem}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  background-color: #727272;
  cursor: pointer;
  transition: border-color 0.25s, background-color 0.25s;
}
button:hover {
  border-color: #1723ff;
  background-color: #595959;
}
button:focus,
button:focus-visible {
  outline: 2px solid #1723ff;
}

a{text-decoration: none; display: inline-block; /*overflow: hidden*/}
a:hover {
  color: #df0e0e;
} /*Opcional*/

ul{list-style: none; margin: 0; padding: 0;}
[type="submit"]{border:none; border-radius: 25%; font-size: 1.6rem; padding: 0.5rem; cursor: pointer; width: 100%; height: 6rem}
span{display: inline-block;}  /*verificar su buen comportamiento*/

picture {margin:0; overflow: hidden; width: var(--contImgPostMd)} /*imagenes post*/
figure {margin:0; overflow: hidden; width: var(--contImgcardMd); /*height:var(--contImgcardMd);*/}
img{max-width: 100%; height: auto; object-fit: contain; vertical-align: top; object-position: 1px 1px;}/*100% del contenedor; object-fit: cover;vertical-align: bottom;vertical-align: middle*/

.figImg{display: block; width: auto; margin: 0; padding: 0; object-fit: cover; }

.contCentrado {max-width: 120.0rem; width: 95%; margin: 0 auto} /* BEM-layout*/
.contCentrado {flex:center; align-items: center} /*opcional*/ 

header{ margin: 0 auto; padding: 0; /*width: 95%*; max-width: 1200px; padding: 1rem*/}
main{max-width: 120.0rem; width: 100%; margin: 0 auto;} /*en pantalla <1200px toma el 95%*/
footer{margin: 0 auto; padding: 0;/*width: 95%*; max-width: 1200px; padding: 1rem*/}

.bodyTag{
	background: #a4b0be;
}
.padding4{
	padding: var(--padding04)
}

.bold{font-weight: bold;}
.textC{text-align:center}
.textL{text-align:left;}
.textSm{font-size: var(--textSm);}
.textMd{font-size: var(--textMd)}
.textLg{font-size: var(--textLg)}

.fontMain{font-style: var(--fontMain)}
.fontSecondary{font-style: var(--fontSecondary)}
.fontHeading{font-style: var(--fontHeading)}


	/*//Body/////////////////////////////////////////////////////////*/
	  .contBody{}
	/*//Header/////////////////////////////////////////////////////////*/
	  .contHeader{min-width: var(--wrapContainer);}
	  .contLogo{}
	/*//flexMainAside/////////////////////////////////////////////////////////*/
	  .contMainAside{display: flex; margin: 0; min-width: var(--wrapContainer);}
	  /* ||.contMainAside ||.coverMainAside || .cover*/
	/*//Main///////////////////////////////////////////////////////////*/
	  .contMain{ margin: 0; }
	  /*main>section>article*/
	/*//Aside//////////////////////////////////////////////////////////*/
	  .contAside{ margin: 0; }
	/*//Footer/////////////////////////////////////////////////////////*/
	  .contFooter{ margin: 0; min-width: var(--wrapContainer);}


@media (prefers-color-scheme: light) {
  body{
    color: #213547;
    background-color: #ffffff; /*fondo blanco*/
  }
}
/* Estilos para el tema oscuro */
@media (prefers-color-scheme: dark) {
  :root {
    color: #ffffff; /* Color de texto blanco */
    background-color: #212529; /* Fondo oscuro */
  }
}