---
---

<main>
    <slot />
</main>

<style>

main {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    /* background: linear-gradient(135deg, #9fbfed 0%, #c3cfe2 100%); */
    color: #333;
    width: 100vw;
}

</style>