---

---

<section class="section wrapContainer">
    <div class="section__column">
        <slot />
    </div>
</section>

<style>
    .section {
        /* background-color: rgb(179, 179, 179); */
        position: relative;
        display: flex;
        flex-direction: column;
        /* height: fit-content; */

         background: grey;
        width: 100%;
        /* margin: 0 auto; */
        padding: 16px;
        /* height: fit-content; */
        /* height: 25vh; */
    }
    /* contenido interno */
    .section__column {
        width: 100%;
        min-height: 10vh;
    }


</style>

<!-- ESTILOS PERSONALIZADOS PARA SECCIONES ESPECÍFICAS (ejemplo <SectionServices/> ) -->
<style>

</style>