/*///////root.css///////  V 1.0.0 */  /*Ver Repositorio... para root mas actulizado*/
:root {

  /*colors*/
  --blue-dark: #0d2c6c;
  --blue-main: #123f8c;
  --blue-soft: #1f5fbf;

  --white: #FFFFFF;
  --black: #000000;
  --grey-main: #ffffff;
  --grey-soft: #cecece;
  --color-font-partner: #5d5d5d;
  --color-font-partner_soft: #8d8d8d;

  /*OtherColors*/
  /* 
  --other1: #E38646;
  --other2: #F7F7F7;
  --color-of-links: #B2F7C5;
  --aside-color: rgb(31, 31, 31);
  --bg-light: #f8f9fa;
  --border-color: #e0e0e0;
  */
}
:root {
  /*font-family*/ 
  --fontMain:   'Roboto', 'Segoe UI', sans-serif, Tahoma, Verdana;
  --fontSecondary: 'Roboto', 'Segoe UI', sans-serif, Tahoma, Verdana;
  /*font-size*/
  --textSm: 1.4rem;
  --textNormal:  1.6rem;
  --textMd: 1.8rem;
  --textLg: 2.4rem;
  --textExtaLg: 2.8rem;
  --rem: 1rem;
  /*sombras y degradados*/
  --shadow-md: 0 4px 6px -1px rgba(0, 0, 0, 0.3), 0 2px 4px -1px rgba(0, 0, 0, 0.2); /*?*/
  --transition: all 0.2s ease-in-out;
  /*alturas*/
  --navbar-height: 5.0rem; /*nav*/
  --header-height: 25.0rem;
  --hero--height: 25.0rem;
  --section--height: 25.0rem;
  --cart--height: 15.0rem;
  --footer--height: 5.0rem;
  /* --p04 : 0.4rem; */ /*ver utilizades genericas en mynormalize*/
  /*tamaño imagenes - width*/
  --contImgPostSm: 15rem;
  --contImgPostMd: 25rem;
  --contImgPostLg: 35rem;
  /*--*/
  --contImgcardSm: 10rem;
  --contImgcardMd: 15rem;
  --contImgcardLg: 20rem;

  --contImgLogoMain: 20rem;
  --contImgLogoSm: 0.25rem;
  --contImgLogoMd: 0.5rem;
  /*wraper*/
  --wrapContainer: 120.0rem; /*ancho maximo contenedores principales*/
}
.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.flex_column_center{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.flex_row_center{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.max-w-cnt{
  max-width: var(--max-w-cnt);
  margin: 0 auto;
}
.ReglaTEMPORAL{
  height: 30vh;
  width: 100%;
  background-color: rgb(255, 148, 148);
}
.p-inline{
  padding-inline: 3rem;
}
.pointer{
  cursor: pointer; 
}

@media (max-width: 470px) {
  .p-inline{
      padding-inline: 0.7rem;
  }
}